
h1{
    color: white;
}


  .form-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-height: 15vh;
    min-width: 40vh;
  }

  .form-group {
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  textarea#description {
    height: 15vh;
    width: 40vh;
    resize: vertical;
    font-size: medium;
  }

  input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }

  button {
    margin-top: 10px;
  }


  .create-button {
    background-color: green;
}

.back-button {
    background-color: red;
}