.container {
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100vh;
  }

  .form-box {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #252525;
    color: #fff;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .text {
    font-size: 28px;
    margin-bottom: 10px;
  }

  

  