.side-panel {
  background-color: #fff;
  color: #1c3563;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 500px;
  height: auto;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
  overflow-y: scroll;
}

.side-panel.open {
  transform: translateX(0%);
}

.side-panel form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-panel label {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px;
}

.side-panel input {
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

.payment-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.payment-panel h2 {
  margin-bottom: 20px;
}

.payment-panel form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#card-element {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;
}

#card-element:focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
  border-color: #cfd7df;
}

.read-only {
  background-color: #e0e0e0;
  cursor: not-allowed;
}