:root {
    --white: #fff;
    --emperor: #535353;
    --lavendar-magenta: #EC51DE;
    --shocking-pink: #EB0EC7;
    --governor-bay: #3023AE;
    --persian-blue: #3022AD;
    --curious-blue: #1897E1;
    --dodger-blue: #53A0FD;
    --red-violet: #CC19BF;
    --mariner: #405CD2;
    --seance: #7623A2;
  }
  
  .card {
    margin-top: 50px;
    padding: 13px;
    max-width: 318px;
    width: 100%;
    background: linear-gradient(-120deg, var(--lavendar-magenta) 0%, var(--dodger-blue) 60%, var(--governor-bay) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: fit-content;
  }
  
  .card__filter {
    height: 212px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
  }
  
  .card__filter::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mix-blend-mode: multiply;
    background: linear-gradient(-150deg, var(--shocking-pink) 0%, var(--curious-blue) 100%);
    z-index: 1;
  }
  
  .card__photo {
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  
  .card__container {
    background: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    box-sizing: border-box;
  }
  
  .card h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: regular;
    font-size: 37px;
    color: var(--mariner);
    letter-spacing: -1.06px;
    margin: 0 0.4em 0.4em 0;
  }
  
  .card time,
  .card p,
  .card .card__location {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: regular;
    font-size: 14px;
    color: var(--emperor);
    margin: 0.18em;
  }
  
  .card__location {
    text-decoration-color: var(--shocking-pink);
    -webkit-text-decoration-color: var(--shocking-pink);
    transition: all 250ms ease;
    max-width: 13.3em;
  }
  
  .card__location:hover {
    background-color: rgba(var(--shocking-pink), 0.2);
    text-decoration-color: rgba(var(--shocking-pink), 0.2);
  }
  
  .card__buttons {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1.5em 0 0.5em 0;
    flex-direction: row;
  }
  
  .card__buttons .btn {
    /* Your existing styles */
    position: relative;
    border: 2px solid var(--white);
    padding: 0.8em 1.5em;
  }
  
  .card__buttons .btn i.material-icons {
    margin-left: 0.5em;
    vertical-align: middle;
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  
  .material-icons.md-light {
    color: rgba(255, 255, 255, 1);
  }
  
  .material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
  }

  .events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* This adds a little space around each item */
    max-height: 600px; /* Set this to your desired max height */
    overflow-y: auto; /* Creates a scrollbar when content exceeds max-height */
  }